In [1]:
#!/usr/bin/env python3
 
##########################################################
# Copyright (c) Jesper Vang <jesper_vang@me.com>         #
# Created on 15 Jul 2021                                 #
# Version:	0.0.1                                        #
# What: ? 						                         #
##########################################################

# Python ≥3.5 is required
import sys
assert sys.version_info >= (3, 5)

# Scikit-Learn ≥0.20 is required
import sklearn
assert sklearn.__version__ >= "0.20"

# Common imports
import pandas as pd
import numpy as np
import os

# To plot pretty figures
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.rc('axes', labelsize=14)
mpl.rc('xtick', labelsize=12)
mpl.rc('ytick', labelsize=12)

# Where to save the figures
print(f'the current path is: {os.getcwd()}')
PROJECT_ROOT_DIR = "."
CHAPTER_ID = "end_to_end_project"
IMAGES_PATH = os.path.join(PROJECT_ROOT_DIR, "images", CHAPTER_ID)
os.makedirs(IMAGES_PATH, exist_ok=True)

def save_fig(fig_id, tight_layout=True, fig_extension="png", resolution=300):
    path = os.path.join(IMAGES_PATH, fig_id + "." + fig_extension)
    print("Saving figure", fig_id)
    if tight_layout:
        plt.tight_layout()
    plt.savefig(path, format=fig_extension, dpi=resolution)

the current path is: /Users/jvang/Documents/Projects/Applied_AI_IT_Uni

In [2]:
d = {'col1': [1, 2, 3, 4], 'col2': [3, 4, 5, 6], 'col3':[7, 8, 9, 10]}
df = pd.DataFrame(data=d)
df

   col1  col2  col3
0     1     3     7
1     2     4     8
2     3     5     9
3     4     6    10

In [3]:
df.col1.sum()

10

In [4]:
df.col1

0    1
1    2
2    3
3    4
Name: col1, dtype: int64